*{
  padding:0;
  margin:0;
}
body{
  font-family:roboto mono, monospace;
}
.navigation, .footer{
  display:flex;
  padding-left:85px;
}
.navigation li, .footer li{
  display:inline-block;
  margin:25px 0px 25px 44px;
  font-size:12px;
}
.date{
  position:relative;
  left:535px;
}
.icon{
  position:relative;
  left:600px;
  top:10px;
  width:60px;
  height:60px;
  background-image: url(images/darkicon.svg);
  background-repeat: no-repeat;

}
.introduction,.projects{
  position:relative;
  left:125px;
}
.introduction h1{
  font-size:25px;
  padding-bottom:5px;
}
.introduction h2{
  font-size:20px;
}
.introduction h1, .introduction h2{
  font-weight:bold;
  text-transform:uppercase;

}
.introduction hr{
  width:275px;
  border:1px dashed black;
}
.introduction p{
  padding-top:30px;
  font-size:12px;
  width:500px;
  text-align:justify;
}
.projects{
  display:flex;
  width:1000px;
  height:450px;
  margin-top:100px;
}
.projects h2{
  font-size:20px;
  text-transform:uppercase;
}
.project-col{
  display:inline-block;
  font-size:12px;
  width:194px;
  height:294px;
  margin:50px 0px 0px 50px;
  padding:5px;
  border:1px solid black;
  box-shadow:-4px 4px black;
}
.project-col:nth-child(2){
    background-image: url(images/calc-light-mode-2.png);
    background-repeat: no-repeat;
    background-size:144px 244px;
    background-position:center;
}
.footer-border{
  border: 1px dashed black;
  width:1000px;
  position:relative;
  left:125px;
}
.description{
  font-size:12px;
  position:relative;
  left:125px;
  margin-top:35px;
  margin-bottom:55px;
  padding:15px;
  width:500px;
  border:1px solid black;
  box-shadow:-4px 4px black;
}
.resources{
  display:flex;
  margin:20px auto;
  width:900px;
  height:68px;
  border:1px solid black;
}
.resources ul{
  margin:0 auto;
}
.resources li{
  display:inline-block;
  font-size:12px;
  margin:30px 40px 30px 40px;
}
.resources li:hover{
  border-bottom:1px solid black;
}
.resources-list{
  width:900px;
  margin:20px auto;
  border:1px solid black;
}
.resources-list li{
  list-style:none;
  font-size:12px;
  padding:5px 10px 5px 10px;
}
.resources-list li:hover{
  background:black;
  color:white;
}
 #html-list,#css-list, #java-list,#color-list,#image-section-list{
display:none;
}

/* Mobile Media settings */
@media only screen and (max-width:600px){
  .navigation,.footer{
    display:flex;
    margin:8px auto;
    padding-left:0px;
    border:1px solid black;
    height:28px;
  }
  .navigation ul, .footer ul{
    margin:0 auto;
  }
  .navigation li, .footer li{
    margin:0px 10px 0px 10px;
  }
  .date,.icon{
    display:none;
  }
  .introduction,.projects{
  left:0;
  text-align:center;
  }
  .introduction h1{
    font-size:25px;
    padding-top:75px;
  }
  .introduction hr{
    width:auto;
    margin-top:10px;
  }
  .introduction p{
    width:auto;
  }
  .projects{
    display:inline;
    width:420px;
    height:400px;
  }
  .project-col{
    display:block;
    width:294px;
    height:107px;
    margin:20px;
    padding:5px;
  }
  .footer-border{
    left:0px;
    width:375px;
  }
}
/*Prefer color scheme settings go here*/
/*@media (prefers-color-scheme:dark){
  body{
      background:black;
  }
  .navigation a, .introduction, .projects,.footer{
    color:white;
  }
  .footer-border{
    border 1px dashed white;
  }
}*/
