*{
  padding:0;
  margin:0;
}
body{
  font-family:roboto mono, monospace;
}
.navigation, .footer{
  display:flex;
  padding-left:85px;
}
.navigation li, .footer li{
  display:inline-block;
  margin:25px 0px 25px 44px;
  font-size:12px;
}
.date{
  position:relative;
  left:535px;
}
.icon{
  position:relative;
  left:600px;
  top:10px;
  width:60px;
  height:60px;
  background-image: url(images/darkicon.svg);
  background-repeat: no-repeat;
}
.introduction,.projects{
  position:relative;
  left:125px;
}
.introduction h1{
  font-size:25px;
  padding-bottom:5px;
}
.introduction h2{
  font-size:20px;
}
.introduction h1, .introduction h2{
  font-weight:bold;
  text-transform:uppercase;

}
.introduction hr{
  width:275px;
  border:1px dashed black;
}
.introduction p{
  padding-top:30px;
  font-size:12px;
  width:500px;
  text-align:justify;
}
.projects h2{
  font-size:20px;
  text-transform:uppercase;
  padding-top:100px;
}
.footer-border{
  border: 1px dashed black;
  position: relative;
  left:125px;
  margin-top:20px;
}
.description{
  font-size:12px;
  position:relative;
  left:125px;
  margin-top:35px;
}
.resources{
  display:flex;
  margin:20px auto;
  width:900px;
  height:68px;
  border:1px solid black;
}
.resources ul{
  margin:0 auto;
}
.resources li{
  display:inline-block;
  font-size:12px;
  margin:30px 40px 30px 40px;
}
